[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = git@github.com:vim-syntastic/syntastic.git
[submodule "bundle/jedi-vim"]
	path = bundle/jedi-vim
	url = git@github.com:davidhalter/jedi-vim.git
[submodule "bundle/dracula"]
	path = bundle/dracula
	url = git@github.com:dracula/vim.git
[submodule "bundle/vim-airline-themes"]
	path = bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "bundle/vim-deep-space"]
	path = bundle/vim-deep-space
	url = https://github.com/tyrannicaltoucan/vim-deep-space
[submodule "vim-dogrun"]
	path = vim-dogrun
	url = https://github.com/wadackel/vim-dogrun
[submodule "bundle/vim-dogrun"]
	path = bundle/vim-dogrun
	url = https://github.com/wadackel/vim-dogrun
